<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1066431731357-7lbbaa3olb9bp4ntkdiuatn6mvb44vs9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1066431731357-7lbbaa3olb9bp4ntkdiuatn6mvb44vs9</string>
	<key>API_KEY</key>
	<string>AIzaSyCQPKusdFgfzUZz1hhnRSNKp9wE9UShAI4</string>
	<key>GCM_SENDER_ID</key>
	<string>1066431731357</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>alexrodionby.NewsPaper</string>
	<key>PROJECT_ID</key>
	<string>newspaper-25aee</string>
	<key>STORAGE_BUCKET</key>
	<string>newspaper-25aee.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1066431731357:ios:8a5676e3108e7ec9be6674</string>
</dict>
</plist>